<ion-header>
  <ion-toolbar color="danger">
    <ion-title>
     Sign-in
    </ion-title>
  </ion-toolbar>
</ion-header>
 
<ion-content>
  <div style="display: flex; justify-content: center;">
    <ion-button (click)="googleSignup()">Sign in</ion-button>
  </div>
  <ion-item>
    <ion-card>
      <ion-card-content>
    <ion-textarea placeholder="User info">{{ userInfo | json}}</ion-textarea>
    </ion-card-content>
    </ion-card>
  </ion-item>
  <ion-button  color = "danger" (click)="googleLogout()">Sign Out</ion-button>
</ion-content>

